@font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    src: url('@fonts/Manrope-Light.ttf') format('ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('@fonts/Manrope-Regular.ttf') format('ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    src: url('@fonts/Manrope-Medium.ttf') format('ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    src: url('@fonts/Manrope-SemiBold.ttf') format('ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    src: url('@fonts/Manrope-ExtraBold.ttf') format('ttf');
}

:root {
    --black: #100E1D;
    --gray: #1E213A;
    --white: #f3f4fa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Manrope', sans-serif;
    color: var(--black);
}

body {
    width: 100vw;
    min-height: 100svh;
    padding: 0 2.4rem;
    display: grid;
    place-items: center;
    background-color: var(--black);
}

.app {
    width: clamp(300px, 100%, 1920px);
    min-height: 80svh;

    border: 4px var(--gray) solid;

    display: grid;
    grid-template-columns: 1fr 30%;
    grid-template-rows: 1fr;
}

.highlights {
    padding: 2rem;
}

.header__weather-title {
    font-size: 4rem;
    color: var(--white);
    font-weight: bold;
}

.highlights .highlights-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header--day-time {
    display: flex;
    height: fit-content;
}

.header--day-time .date-layout {
    margin-inline-end: 1rem;
    padding-inline-end: 1rem;
    border-inline-end: 1px solid var(--white);
}

.day-status {
    width: 100%;
    padding: 2rem;
    background-color: var(--gray);
}