/* Fonts */
@font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    src: url('@fonts/Manrope-Light.ttf') format('ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('@fonts/Manrope-Regular.ttf') format('ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    src: url('@fonts/Manrope-Medium.ttf') format('ttf');
}

/* Variables theme */
:root {
    --bg-color: #000D38;
    --bg-light: #11235d;
    --font-dark: #000D38;
    --font-color: #f3f4fa;
    --btn-color: #F0B20C;
    --btn-color-dark: #000D38;
    --btn-color-transparent: transparent;
    --btn-color-hover: #A37700;
    --btn-color-hover-dark: #11235d;
    --error-text-color: #f53356;
    --border-color: #F0B20C;

    --arrow-left: url('@images/angle-circle-left-dark-mode.png');
    --arrow-right: url('@images/angle-circle-right-dark-mode.png');
    --close-menu-icon: url('@images/close-menu-icon-dark-mode.png');
    --location--icon: url('@images/location-icon.png');
}

/* Rebooting general styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Manrope', sans-serif;
    color: var(--font-color);
}

body {
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    min-height: 100svh;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Header */
.highlights-header {
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-block-end: 2rem;
    padding: 2rem 0 0 0;
}

.header--weather-state {
    width: 100%;
    text-align: center;
    margin-block-end: 1rem;
}

.header--weather-state .header__weather-title {
    font-size: 4rem;
    color: var(--font-color);
    font-weight: bold;
}

.header--day-time {
    display: flex;
    height: fit-content;
}

.header--day-time .date-layout {
    margin-inline-end: 1rem;
    padding-inline-end: 1rem;
    border-inline-end: 1px solid var(--font-color);
}

/* General app layout */
.app {
    position: relative;
    width: 100%;
    min-width: 300px;
    max-width: 1140px;

    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: stretch;
}

/* General Highlights section */
.highlights {
    padding: 2rem;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Day Status Section */
.day-status-layout {
    width: 100%;
    display: grid;
    place-items: center;
}

/* Hourly Forecast Wrapper */
.forecast-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.forecast-wrapper .carousel {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.forecast-wrapper .carousel::-webkit-scrollbar {
    display: none;
}

.forecast-wrapper .carousel.dragging {
    scroll-behavior: auto;
    scroll-snap-type: none;
}

.carousel>li.current-hour {
    border: var(--border-color) solid 4px;
    border-radius: 8px;
}

/* Left and right arrow */
.forecast-wrapper .arrow {
    border-radius: 50%;
    border: none;
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    background-color: var(--bg-color);
}

.forecast-wrapper .arrow span {
    display: block;
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.forecast-wrapper .arrow.left {
    left: -10px;
}

.forecast-wrapper .arrow.left span {
    background-image: var(--arrow-left);
}

.forecast-wrapper .arrow.right {
    right: -10px;
}

.forecast-wrapper .arrow.right span {
    background-image: var(--arrow-right);
}

/* Day Status Components */
.day-status {
    width: 100%;
    max-width: 660px;
    height: fit-content;
    background-color: var(--bg-light);
    border-radius: 20px;
    margin: 0 2rem;
}

.day-status-container {
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-block-end: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Menu trigger button */
.menu-button-container {
    width: 100%;
    margin-block-end: 2rem;
}

.menu-button {
    width: 100%;
    padding: 1.2rem;
    background-color: var(--btn-color);
    color: var(--font-dark);
    border: none;
    font-size: 2rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
}

.menu-button:hover {
    background-color: var(--btn-color-hover);
}

/* Menu general */
.menu-container {
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-color: var(--bg-light);
    border-radius: 20px;
}

.menu-close-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.menu-close-button button {
    border-radius: 50%;
    border: none;
    background-color: var(--bg-color);
    cursor: pointer;
}

.menu-close-button button span {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: var(--close-menu-icon);
}

.menu-close-button button span:hover {
    background-color: #A37700;
}

.form-city-selector .desired-location-container p.input-label-text {
    font-size: 2rem;
    font-weight: bold;
    color: var(--font-color);
}

.form-city-selector .desired-location-container p.input--error {
    margin-block-start: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--error-text-color);
}

.desired-location-input {
    display: block;
    width: 100%;
    padding: 1.4rem;
    font-size: 1.8rem;
    margin-block-start: 1rem;
    border-radius: 8px;
    border: none;
}

.desired-location-input:focus {
    outline: var(--border-color) solid 4px;
}

.search-city-btn,
.your-location-btn {
    width: 100%;
    padding: 1.2rem;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    font-weight: bold;
    margin-block-start: 2rem;
    border-radius: 8px;
}


.search-city-btn {
    background-color: var(--btn-color);
    color: var(--font-dark);
}

.your-location-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-color-transparent);
    border: solid 4px var(--border-color);
    color: var(--font-color);
}

.search-city-btn:hover {
    background-color: var(--btn-color-hover);
}

.your-location-btn:hover {
    background-color: var(--btn-color-dark);
}

.buttons-separator {
    margin-block-start: 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.form-city-selector {
    width: 100%;
}

.button--icon {
    display: inline-block;
    width: 100%;
    max-width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: var(--location--icon);
    margin-inline-end: 1rem;
}

/* Day location component layout */
.day-location-layout {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Week Status component layout */
.week-forecast-wrapper {
    display: none;
    width: 100%;
}

.week-forecast-wrapper h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-block-end: 1rem;
}

/* Loading modal */
.loading-modal {
    position: absolute;
    display: block;
    width: fit-content;
    padding: 1rem;
    background-color: var(--bg-light);
    color: var(--font-color);
    font-size: 1.2rem;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 4px 4px;
}

.loader {
    display: flex;
    gap: 2px;
    align-items: flex-start;
    margin-block-end: .5rem;
}

.loader div {
    width: 6px;
    height: 6px;
    background-color: #FFF;
    border-radius: 50%;
    animation: salto 1s alternate infinite;
}

.loader div:nth-child(2) {
    animation-delay: 0.20s;
}

.loader div:nth-child(3) {
    animation-delay: 0.40s;
}

.loader div:nth-child(4) {
    animation-delay: 0.60s;
}

@keyframes salto {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Utils */
.hidden {
    display: none;
}

/* Media queries Max width */
@media (max-width: 598px) {
    .day-status-container {
        padding: 2rem;
    }

    .day-status-layout {
        margin-block-end: 2rem;
    }
}

/* Media queries Min width */
@media screen and (min-width: 598px) and (max-width: 1129px) {
    .day-status-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
    }

    .day-status-container.hidden {
        display: none;
    }

    .menu-button-container {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .day-location-layout {
        grid-column: 1 / 2;
        grid-row: 2 / 3
    }

    .week-forecast-wrapper {
        display: block;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        align-self: end;
    }
}

@media (min-width: 1130px) {
    body {
        padding: 0 2rem;
    }

    .app {
        border: 4px var(--bg-light) solid;
        border-radius: 30px;
    }

    .day-status {
        width: 35%;
        min-width: 300px;
        max-width: 420px;
        height: inherit;
        border-radius: 0 20px 20px 0;
        margin: 0;
    }

    .day-status-container {
        padding-block-end: 2rem;
        max-width: none;
    }

    .menu-container {
        border-radius: 0 20px 20px 0;
    }

    .week-forecast-wrapper {
        margin-block-start: 2rem;
        display: block;
    }
}