@font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    src: url('@fonts/Manrope-Light.ttf') format('ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('@fonts/Manrope-Regular.ttf') format('ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    src: url('@fonts/Manrope-Medium.ttf') format('ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    src: url('@fonts/Manrope-SemiBold.ttf') format('ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    src: url('@fonts/Manrope-ExtraBold.ttf') format('ttf');
}

:root {
    --black: #100E1D;
    --gray: #1E213A;
    --white: #f3f4fa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Manrope', sans-serif;
    color: var(--white);
}

body {
    width: 100%;
    min-height: 100svh;
    padding: 0 2.4rem;
    display: grid;
    place-items: center;
    background-color: var(--black);
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

.app {
    width: clamp(300px, 100%, 1440px);
    min-height: 80svh;
    max-height: 1023px;

    border: 4px var(--gray) solid;

    display: grid;
    grid-template-columns: 1fr 30%;
    grid-template-rows: 1fr;
}

.highlights {
    padding: 2rem;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.highlights-header {
    padding: 0;
}

.header__weather-title {
    font-size: 4rem;
    color: var(--white);
    font-weight: bold;
}

.highlights .highlights-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header--day-time {
    display: flex;
    height: fit-content;
}

.header--day-time .date-layout {
    margin-inline-end: 1rem;
    padding-inline-end: 1rem;
    border-inline-end: 1px solid var(--white);
}

.day-status {
    width: 100%;
    padding: 2rem;
    background-color: var(--gray);
}

.change-location {
    width: 100%;
    padding: 1.2rem;
    background-color: var(--black);
    color: var(--white);
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
    font-weight: bold;
    margin-block-start: 2rem;
}

.change-location:hover {
    background-color: var(--white);
    color: var(--black);
}

.day-location-layout {
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forecast-wrapper .carousel {
    display: flex;
    gap: 1rem;
    overflow-x: hidden;
}